<mat-card>
  <mat-card class="home-section">
    <mat-card-title>
      Favoriten
    </mat-card-title>
  </mat-card>
  <mat-list>
    <h4 class="home-subsection"> Kurse </h4>
    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine>THEO3</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine> MATHE3</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine> EX3A</h3>
    </mat-list-item>
  </mat-list>
  <hr>
  <mat-list>
    <h4 class="home-subsection"> Dateien </h4>
    <mat-list-item>
      <mat-icon matListIcon>insert_drive_file</mat-icon>
      <h3 matLine> THEO3 ÜB06</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>insert_drive_file</mat-icon>
      <h3 matLine> MATHE ÜB05</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>insert_drive_file</mat-icon>
      <h3 matLine> EX3A ÜB05</h3>
    </mat-list-item>
  </mat-list>
  <mat-card class="home-section">
    <mat-card-title>
      Deine Kurse und Gruppen
    </mat-card-title>
  </mat-card>
</mat-card>
